
.routeSelectorPanel {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	border-right: 2px solid var(--border-primary);
	width: 500px;
	height: 100vh;
	padding: 20px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
	z-index: 1100; /* Leaflet map uses 1000 */
}

.detailsContainer {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	min-height: 1;
}

.routeSelectorPanel button {
	border: 2px solid var(--border-secondary);
	background-color: var(--bg-secondary);
	color: var(--text-secondary);
	font-size: 1.2em;
	padding: 5px 10px;
	cursor: pointer;
}

.routeSelectorPanel button:hover {
	background-color: var(--border-secondary);
}

.routeSelectorPanel input {
	border: 2px solid var(--border-secondary);
	background-color: var(--bg-secondary);
	color: var(--text-primary);
	font-size: 1.2em;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 8px;
}
